.container-header {
    background-color: #000;
    color: #FFF;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.header li {
    display: inline-flex;
    margin-right: 12px;
}

.header li a {
    color: #FFF;
    padding: 20px;
    text-decoration: none;
}

.header li:hover a {
    background-color: red;
    
}

