.container {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container-img a img {
    width: 100px;
    height: 50px;

}
.container-item li a {
    color: black;
    text-decoration: none;
    margin-right: 10px;
    padding: 12px;
}

.container-item ul {
    list-style-type: none;
    display: flex;
}
.container-item li:hover a {
    background-color: chartreuse;
    color: rgb(255, 0, 0);
}

.main-anh img {
    width: 100%;
    height: 600px;
    
}

.main-anh .main-text {
    position: relative;
    color: aliceblue;
    text-align: center;
}
.main-gioithieu {
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.main-gioithieu-congcu {
    display: inline-flex;
}

.main-gioithieu-congcu-loa{
    margin-right: 20px;
}
.anh {
    display: flex;
    width: 100%;
}
.row-anh {
    width: 25%;
    justify-content: center;
    margin: 10px;
}
.row-anh img {
    width: 100%;

}
.row-anh p {
    text-align: center;
}